<a href="https://colab.research.google.com/github/saksham-v25/ML/blob/main/BlackFridayEDABlackFridayEDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [133]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("sdolezel/black-friday")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'black-friday' dataset.
Path to dataset files: /kaggle/input/black-friday

In [134]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [135]:
path

'/kaggle/input/black-friday'

In [136]:
df=pd.read_csv('/kaggle/input/black-friday/train.csv')

In [137]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [139]:
df.describe().round(2)

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,550068.00,550068.00,550068.00,550068.00,376430.00,166821.00,550068.00
mean,1003028.84,8.08,0.41,5.40,9.84,12.67,9263.97
std,1727.59,6.52,0.49,3.94,5.09,4.13,5023.07
min,1000001.00,0.00,0.00,1.00,2.00,3.00,12.00
25%,1001516.00,2.00,0.00,1.00,5.00,9.00,5823.00
50%,1003077.00,7.00,0.00,5.00,9.00,14.00,8047.00
75%,1004478.00,14.00,1.00,8.00,15.00,16.00,12054.00
max,1006040.00,20.00,1.00,20.00,18.00,18.00,23961.00

In [140]:
df.drop(['User_ID'], axis=1,inplace=True)

In [141]:
df.head()

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [142]:
df.nunique()

Product_ID                     3631
Gender                            2
Age                               7
Occupation                       21
City_Category                     3
Stay_In_Current_City_Years        5
Marital_Status                    2
Product_Category_1               20
Product_Category_2               17
Product_Category_3               15
Purchase                      18105
dtype: int64

In [143]:
df['Gender']=df['Gender'].map({'F':0,'M':1})

In [144]:
df['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [145]:
df['Age']=df['Age'].map({'0-17':0, '55+':1, '26-35':2, '46-50':3, '51-55':4, '36-45':5, '18-25':6})

In [146]:
df

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,P00069042,0,0,10,A,2,0,3,NaN,NaN,8370
1,P00248942,0,0,10,A,2,0,1,6.0,14.0,15200
2,P00087842,0,0,10,A,2,0,12,NaN,NaN,1422
3,P00085442,0,0,10,A,2,0,12,14.0,NaN,1057
4,P00285442,1,1,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...
550063,P00372445,1,4,13,B,1,1,20,NaN,NaN,368
550064,P00375436,0,2,1,C,3,0,20,NaN,NaN,371
550065,P00375436,0,2,15,B,4+,1,20,NaN,NaN,137
550066,P00375436,0,1,1,C,2,0,20,NaN,NaN,365
550067,P00371644,0,3,0,B,4+,1,20,NaN,NaN,490

In [147]:
df['City_Category'].unique()

array(['A', 'C', 'B'], dtype=object)

In [148]:
df['City_Category']=df['City_Category'].map({'A':0, 'C':1, 'B':2})

In [149]:
df

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,P00069042,0,0,10,0,2,0,3,NaN,NaN,8370
1,P00248942,0,0,10,0,2,0,1,6.0,14.0,15200
2,P00087842,0,0,10,0,2,0,12,NaN,NaN,1422
3,P00085442,0,0,10,0,2,0,12,14.0,NaN,1057
4,P00285442,1,1,16,1,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...
550063,P00372445,1,4,13,2,1,1,20,NaN,NaN,368
550064,P00375436,0,2,1,1,3,0,20,NaN,NaN,371
550065,P00375436,0,2,15,2,4+,1,20,NaN,NaN,137
550066,P00375436,0,1,1,1,2,0,20,NaN,NaN,365
550067,P00371644,0,3,0,2,4+,1,20,NaN,NaN,490

In [150]:
df.drop(['Product_ID'], axis = 1, inplace = True)

In [151]:
df

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,0,0,10,0,2,0,3,NaN,NaN,8370
1,0,0,10,0,2,0,1,6.0,14.0,15200
2,0,0,10,0,2,0,12,NaN,NaN,1422
3,0,0,10,0,2,0,12,14.0,NaN,1057
4,1,1,16,1,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...
550063,1,4,13,2,1,1,20,NaN,NaN,368
550064,0,2,1,1,3,0,20,NaN,NaN,371
550065,0,2,15,2,4+,1,20,NaN,NaN,137
550066,0,1,1,1,2,0,20,NaN,NaN,365
550067,0,3,0,2,4+,1,20,NaN,NaN,490

In [152]:
df['Product_Category_2'].unique()

array([nan,  6., 14.,  2.,  8., 15., 16., 11.,  5.,  3.,  4., 12.,  9.,
       10., 17., 13.,  7., 18.])

In [153]:
df['Product_Category_2']=df['Product_Category_2'].fillna(df['Product_Category_2'].mode()[0])

In [154]:
df['Product_Category_3'] = df['Product_Category_3'].fillna(df['Product_Category_3'].mode()[0])

In [155]:
df

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,0,0,10,0,2,0,3,8.0,16.0,8370
1,0,0,10,0,2,0,1,6.0,14.0,15200
2,0,0,10,0,2,0,12,8.0,16.0,1422
3,0,0,10,0,2,0,12,14.0,16.0,1057
4,1,1,16,1,4+,0,8,8.0,16.0,7969
...,...,...,...,...,...,...,...,...,...,...
550063,1,4,13,2,1,1,20,8.0,16.0,368
550064,0,2,1,1,3,0,20,8.0,16.0,371
550065,0,2,15,2,4+,1,20,8.0,16.0,137
550066,0,1,1,1,2,0,20,8.0,16.0,365
550067,0,3,0,2,4+,1,20,8.0,16.0,490

In [156]:
df.isnull().sum()

Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [157]:
df['Stay_In_Current_City_Years'] = df['Stay_In_Current_City_Years'].str.replace('+','')

In [158]:
df.sample(10)

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
172258,1,2,0,1,0,0,8,15.0,16.0,9782
163414,1,6,4,1,2,0,1,16.0,16.0,8209
482773,0,1,3,2,1,1,12,14.0,16.0,1773
295224,0,3,1,1,0,1,5,15.0,16.0,1771
441275,1,6,14,2,2,0,8,8.0,16.0,7936
24338,0,5,3,1,1,1,5,13.0,16.0,6852
252410,1,5,14,1,3,0,8,14.0,17.0,10065
422703,1,2,12,2,0,0,1,16.0,16.0,11676
358072,0,2,0,0,1,1,5,15.0,16.0,5426
394595,1,0,10,1,1,0,3,4.0,12.0,5689

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 10 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      550068 non-null  int64
 1   Age                         550068 non-null  int64
 2   Occupation                  550068 non-null  int64
 3   City_Category               550068 non-null  int64
 4   Stay_In_Current_City_Years  550068 non-null  object
 5   Marital_Status              550068 non-null  int64
 6   Product_Category_1          550068 non-null  int64
 7   Product_Category_2          550068 non-null  float64
 8   Product_Category_3          550068 non-null  float64
 9   Purchase                    550068 non-null  int64
dtypes: float64(2), int64(7), object(1)
memory usage: 42.0+ MB

In [160]:
df['Stay_In_Current_City_Years'] = df['Stay_In_Current_City_Years'].astype(int)

In [161]:
df['Age'] = df['Age'].astype(int)

In [162]:
df['Product_Category_2'] = df['Product_Category_2'].astype(int)

In [163]:
df['Product_Category_3'] = df['Product_Category_3'].astype(int)

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 10 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      550068 non-null  int64
 1   Age                         550068 non-null  int64
 2   Occupation                  550068 non-null  int64
 3   City_Category               550068 non-null  int64
 4   Stay_In_Current_City_Years  550068 non-null  int64
 5   Marital_Status              550068 non-null  int64
 6   Product_Category_1          550068 non-null  int64
 7   Product_Category_2          550068 non-null  int64
 8   Product_Category_3          550068 non-null  int64
 9   Purchase                    550068 non-null  int64
dtypes: int64(10)
memory usage: 42.0 MB